.App {
   width: 790px;
   margin: 30px auto;
   text-align: center;

   .title {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 14px;
      font-weight: 500;
      text-align: start;
      padding: 15px;

      a {
         color: #9747ff;
         font-weight: 800;
         text-decoration: none;
      }
   }
}

.loading {
   margin: 0 auto;
   margin-top: 47vh;
}

.switch {
   width: 40%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 0 auto;
   margin-bottom: 30px;
   border-radius: 100px;
   overflow: hidden;
   font-size: 18px;
   font-weight: bold;
   box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
   user-select: none;

   span {
      padding: 10px;
      flex: 1;
      color: rgb(235, 52, 46);
      background-color: whitesmoke;
      cursor: pointer;

      &.selected {
         color: whitesmoke;
         background-color: rgb(235, 52, 46);
      }
   }
}
